//COLORS
$blue: #3B4262;
$red: #DB2E4D;
$yellow:#EB9F0E;
// $white: #FFFFFF;

//BACKGROUND COLORS
$background-color: radial-gradient(134.34% 134.34% at 50% 0%, #1F3757 0%, #131537 100%) fixed center;
$background-color-option: #BABFD4;
$lignt-gray: #BABFD4;

