//COLORS
$blue: #4664F4;
$blue-secondary: #3B4262;
$red: #DB2E4D;
$yellow:#EB9F0E;
$purple: #834EE3;
$green: #3FB7CD;


//BACKGROUND COLORS
$dark-blue: radial-gradient(134.34% 134.34% at 50% 0%, #1F3757 0%, #131537 100%) fixed center;
$gray: #BABFD4;