@mixin parent-mixin ($background-color)  {
  background-color: $background-color;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; 
 
  &:hover {
    cursor: pointer;    
  }
}

@mixin child-mixin  {
  background-color: $lignt-gray; 
  border-radius: 50%; 
  background-position: center;
  background-repeat: no-repeat;
}