@mixin icon-background ($background-color)  {
  background-color: $background-color;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  box-shadow: 0px 1px 2px #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@mixin icon-body  {
  background-color: $gray; 
  border-radius: 50%; 
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 1px 2px #000000;
}

//perfect centering both vertical and horizontal
@mixin perfect-centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

//shadow when the human/computer wins
@mixin winner-shadow {
  box-shadow: 0px 0px 0px 80px rgba(#ffffff, .07),
  0px 0px 0px 160px rgba(#ffffff, .05),
  0px 0px 0px 240px rgba(#ffffff, .025),;

  @media only screen and (max-width: 375px) {
    box-shadow: 0px 0px 0px 15px rgba(#ffffff, .07),
    0px 0px 0px 40px rgba(#ffffff, .05),
    0px 0px 0px 65px rgba(#ffffff, .025),;  
  } 
}

//MOBILE BRAKEPOINT
@mixin mobile-version {
  @media (max-width: 376px) {@content};
}