@import "../../sass/abstracts/mixins.scss";

.button {
  text-transform: uppercase;
  font-family: Barlow Semi Condensed;
  font-style: normal;
  line-height: 19px;
  letter-spacing: 2.5px;
  padding: 5px 15px;
  border-radius: 8px;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
  transition: all 0.2s; 

  &:hover {
    cursor: pointer;
    background: linear-gradient(0deg, #F3F3F3 0%, #FFFFFF 100%);
    border: 1px solid #FFFFFF;    
    border-radius: 8px;
    color: black;
  } 
}







// @import "../../sass/abstracts/mixins.scss";

// .rulles-button {
//   @include button-style;
//   position: absolute;  
//   bottom: 5%;
//   right: 5%;
//   display: flex;
  
//   @media only screen and (max-width: 375px) {
//     @include perfect-centering;
//     left:0;
//     right:0;    
//     margin-left: auto;
//     margin-right: auto;
//     height: 40px;
//     width: 128px;
//   }      
// };