 @import "../../sass/abstracts/mixins.scss";
 @import "../../sass/abstracts/variables.scss"; 
        
.game-modes {
    width: 200px;
    height: 50px; 
    @include perfect-centering;
    justify-content: space-between;
    top: 23%;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;

    @media only screen and (max-width: 375px) {   
    position: absolute;
    top: 120px;  
    }

    .mode-btn {
    @include button-style;
    }    
  }