@import "../../sass/abstracts/mixins.scss";
@import "../../sass/abstracts/variables";

.game {
  width: 75rem;
  margin:auto; 
  display: flex;
  justify-content: space-around;
  height: 100%;

  .choise { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 293px;
    height: 395px; 

    .choise-text {     
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;    
      letter-spacing: 3px;
      color: #FFFFFF;
      text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
      text-transform: uppercase;
    }

    .choise-picked {
      width: 292.61px;
      height: 300px;  
      display: flex;
      justify-content: center;
      align-items: center;

      //rock icon
.parent-rock {
  @include parent-mixin($red);  
  width: 292.61px;
   height: 286.7px;
  .child-rock {
    @include child-mixin;
    background-image: url('../../images/icon-rock.svg');
    background-size:  110px 110px;
    width: 224.63px;
    height: 224.63px;
  }
}

//paper icon
.parent-paper {
  @include parent-mixin($blue);
  width: 292.61px;
  height: 286.7px;
  .child-paper {
    @include child-mixin;
    background-image: url('../../images/icon-paper.svg');
    background-size:  110px 110px;
    width: 224.63px;
    height: 224.63px;
   }
}

//scissors icon
.parent-scissors {
    @include parent-mixin($yellow);
    width: 292.61px;
    height: 286.7px;
  .child-scissors {
    @include child-mixin;
    background-image: url('../../images/icon-scissors.svg');
    // background-image: url('../../images/icon-paper.svg');
    background-size:  110px 110px;
    transform: rotate(15deg);
    width: 224.63px;
    height: 224.63px;  
  }
}
    }
  }

  .message {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

    .message-text {
      font-style: normal;
      font-weight: bold;
      font-size: 56px;
      line-height: 67px;
      text-align: center;      
      color: #FFFFFF;      
      text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);  
      width: 320px;
    }

    .play-again-btn {
      background: linear-gradient(0deg, #F3F3F3 0%, #FFFFFF 100%);
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
      border-radius: 8px;
      height: 48px;      
      width: 220px;
      margin-top: 20px;
      text-transform: uppercase;
    }

    .play-again-btn:hover {
      cursor: pointer;
    }
  }
}




