@import "../../sass/abstracts/mixins.scss";
@import "../../sass/abstracts/variables";

.game {
  width: 75rem;
  margin: auto; 
  display: flex;
  justify-content: space-around;

  @include mobile-version {
    height: 50vh;   
    width: 100vw;  
    margin-top: -30px;  
  } 
 
  .choise { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 293px;
    height: 395px;

    @include mobile-version {
      width: 200px;
      height: 200px;
      flex-direction: column-reverse;
    }  

    .choise-text {     
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;    
      letter-spacing: 3px;
      color: #FFFFFF;
      text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
      text-transform: uppercase;

      @include mobile-version {
        font-size: 15px;
        letter-spacing: 1.5px;
      } 
    }

    .choise-picked {
      width: 292.61px;
      height: 300px;       
      @include perfect-centering;
      
      @include mobile-version {
        width: 130px;
        height: 130px;  
      }    
      //rock icon
    .icon-3 {
       @include icon-background($red);  
         width: 292.61px;
         height: 286.7px;
         position: absolute;

         @include mobile-version {
           width: 130px;
           height: 130px;     
        }
   
  .image-3 {
    @include icon-body;
    background-image: url('../../images/icon-rock.svg');
    background-size:  110px 110px;
    width: 224.63px;
    height: 224.63px;

    @include mobile-version {
      width: 100px;
      height: 100px;     
      background-size: 50px 50px;   
    }
  }
}

.icon-3.win {
@include winner-shadow;
}

//paper icon
.icon-2 {
  @include icon-background($blue-1);
  width: 292.61px;
  height: 286.7px;
  position: absolute;

  @include mobile-version {
    width: 130px;
    height: 130px;  
  }

  .image-2 {
    @include icon-body;
    background-image: url('../../images/icon-paper.svg');
    background-size:  110px 110px;
    width: 224.63px;
    height: 224.63px;

    @include mobile-version {
      width: 100px;
      height: 100px;     
      background-size: 50px 50px;  
    } 
   }
}

.icon-2.win {
  @include winner-shadow;
  }

//scissors icon
.icon-1 {
    @include icon-background($yellow);
    width: 292.61px;
    height: 286.7px;
    position: absolute;

    @include mobile-version {
      width: 130px;
      height: 130px; 
    }

  .image-1 {
    @include icon-body;
    background-image: url('../../images/icon-scissors.svg');
    background-size:  110px 110px;
    width: 224.63px;
    height: 224.63px;  

    @include mobile-version {
      width: 100px;
      height: 100px;     
      background-size: 50px 50px;   
    } 
  }
}

.icon-1.win {
  @include winner-shadow;
  }

//lizard icon
.icon-4 {
  @include icon-background($purple);
  width: 292.61px;
  height: 286.7px;
  position: absolute;

  @include mobile-version {
    width: 130px;
    height: 130px;   
  }

.image-4 {
  @include icon-body;
  background-image: url('../../images/icon-lizard.svg');
  background-size:  110px 110px;
  width: 224.63px;
  height: 224.63px;  

  @include mobile-version {
    width: 100px;
    height: 100px;     
    background-size: 50px 50px;   
  }
 }
}

.icon-4.win {
  @include winner-shadow;
  }

//spock icon
.icon-5 {
  @include icon-background($green);
  width: 292.61px;
  height: 286.7px; 
  position: absolute; 

  @include mobile-version {
    width: 130px;
    height: 130px;  
  }

.image-5 {
  @include icon-body;
  background-image: url('../../images/icon-spock.svg');
  background-size:  110px 110px; 
  width: 224.63px;
  height: 224.63px; 
  
  @include mobile-version {
    width: 100px;
    height: 100px;     
    background-size: 50px 50px;  
  }
 }
}

      .icon-5.win {
        @include winner-shadow;
        }

        &:hover {
          cursor: pointer;
        }
    }

    .house-picked {
      background: rgba(0, 0, 0, 0.1);
      width: 150px;
      height: 150px;
      border-radius: 50%;
      color: #fff;
      font-size: 32px;
      margin-bottom: 70px; 
      
      @include mobile-version {
        width: 130px;
        height: 130px;   
        margin-bottom: 0px;   
      }
    }
  }

  .message {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

    @include mobile-version {
      position: absolute;
      top: 68%;
    }

    .message-text {
      font-style: normal;
      font-weight: bold;
      font-size: 56px;
      line-height: 67px;
      text-align: center;      
      color: #FFFFFF;      
      text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);  
      width: 320px;

      @include mobile-version {
        font-size: 56px;
      }
    }    

    .play-again-btn {
      background: linear-gradient(0deg, #F3F3F3 0%, #FFFFFF 100%);
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
      border-radius: 8px;
      height: 48px;      
      width: 220px;
      margin-top: 20px;
      text-transform: uppercase;  
      
      &:hover {
        cursor: pointer;
      }

      @include mobile-version {
        margin: 0;
        height: 38px;
        width: 175px;
      }    
    }

    .play-again-btn:hover.win {
      cursor: pointer;
      color: $blue-2;
    }

    .play-again-btn:hover.lose {
      cursor: pointer;
      color: $red;
    }    
  }
};