.modal {
  width: 100vw;
  height: 100vh;
  background-color: #000000e1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  

  .container {
    background-color: #E1E4ED;
    width: 400px;
    height: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;

    .modal-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 20px;
      
      .text {
        font-weight: bold;
        font-size: 32px;
        line-height: 32px;
        text-transform: uppercase;       
        color: #3B4262;
      }

      .close-btn:hover {
        cursor: pointer;
      }
    }

    .rules-img {
      // width: 305px;
      // height: 271px;
      // background-color: yellow;
      display: flex;
      justify-content: center;
      align-items: center;

    }
  }
}



// .modal-container {
//   display: flex;
//   flex-direction: column;
//   color: #333;
//   background-color: #fff;
//   border-radius: 8px;
//   width: 31.25rem;
//   height: 31.25rem;
//   padding: 1rem;
  
//   .header {
//     width: 100%;
//   }

//   .top-text {
//   text-transform: uppercase;
//   font-family: Barlow Semi Condensed;
//   font-style: normal;
//   font-weight: bold;
//   font-size: 2rem;
//   line-height: 2rem;
//   color: #3B4262;
//   }

//   .close-btn {
//     width: 1.25rem;
//     height: 1.25rem;
//   }

//   .close-btn:hover {
//     cursor: pointer;
//   }
// }
