@import "../../sass/abstracts/mixins.scss";
@import "../../sass/abstracts/variables.scss";


.main-container {

.home {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  background-image: url("../../images/bg-triangle.svg");  
  background-repeat: no-repeat;
  background-position: center;  
  margin: auto;
  margin-top: 2rem;
  position: relative;
   
    .flex-container  {
    //Flex container
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    position: relative;   
    
      .top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 31rem;
      height: 15rem;  

        .top-left {   
          .body {    
            @include option-secondary;            
          }       
          @include option-primary ($red);                      
        }     
     
        .top-right {
          .body {    
            @include option-secondary;            
          }
          @include option-primary ($yellow);           
        }
      }

      .bottom {
        .bottom-center {
          .body {    
            @include option-secondary;            
          }
          @include option-primary ($blue);           
        }
     }    
 
  }
   
}
.rulles-button {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin-left: 85%;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  margin-bottom: 0.3rem;
  width: 9.375rem;
  line-height: 19px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.rulles-button:hover {
  cursor: pointer;
}

//rock icon
.parent-rock {
  @include parent-mixin($red);
  .child-rock {
    @include child-mixin;
    background-image: url('../../images/icon-rock.svg');
  }
}

//paper icon
.parent-paper {
  @include parent-mixin($yellow);
  .child-paper {
    @include child-mixin;
    background-image: url('../../images/icon-paper.svg');
  }
}

//scissors icon
.parent-scissors {
  @include parent-mixin($blue);
  .child-scissors {
    @include child-mixin;
    background-image: url('../../images/icon-scissors.svg');
  }
}


}