@import "../../sass/abstracts/mixins.scss";
@import "../../sass/abstracts/variables.scss";


.main-container {
  .game-modes {
    display:flex;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    height: 70px;
    margin-bottom: 5px;
    position: absolute;
    top: 24%;
    width: 100%;

    .test {
      width: 400px;
      display: flex;
      justify-content: space-around;
      .mode-option {
        @include button-style;
      }      
    }
  }   
    
  .home {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  position: relative;
  
  .easy-mode-container  {
    //Flex container
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    position: relative;   
    background-image: url("../../images/bg-triangle.svg");  
    background-repeat: no-repeat;
    background-position: center;  
    
      .top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 31rem;
      height: 15rem;       
    }   
  }  
  
  .hard-mode-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    position: relative;   
    background-image: url("../../images/bg-pentagon.svg");  
    background-repeat: no-repeat;
    background-position: center;   
    width: 472px;
    height: 463px;  

    .possition {
      width: 145px;
      height: 148px;
      background-color: yellow;
      @include vertical-horizontal-centering;


    }
  }
}

//rock icon
.parent-rock {
  @include parent-mixin($red);
  width: 198px;
  height: 203px;
  &:hover {
    cursor: pointer; 
    transform: rotate(-10deg);  
    
  }   
  .child-rock {
    @include child-mixin;
    background-image: url('../../images/icon-rock.svg');
    background-size:  76px 76px;
    width: 152px;
    height: 152px;
  }
}

//paper icon
.parent-paper {
  @include parent-mixin($blue);
  width: 198px;
  height: 203px; 
  &:hover {
    cursor: pointer;    
    transform: rotate(-10deg);  
  }  
  .child-paper {
    @include child-mixin;
    background-image: url('../../images/icon-paper.svg');
    background-size:  76px 76px;
    width: 152px;
    height: 152px;
  }
}

//scissors icon

.parent-scissors {   
  @include parent-mixin($yellow);
  width: 198px;
  height: 203px;
  &:hover {
    cursor: pointer;   
    transform: rotate(-10deg);   
  }   
  .child-scissors {
    @include child-mixin;
    background-image: url('../../images/icon-scissors.svg');
    background-size:  76px 76px;
    width: 152px;
    height: 152px;
  }
}
}

