@import "../../sass/abstracts/mixins.scss";
@import "../../sass/abstracts/variables.scss";


.main-container {
.home {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  background-image: url("../../images/bg-triangle.svg");  
  background-repeat: no-repeat;
  background-position: center;  
  position: relative;
   
    .flex-container  {
    //Flex container
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    position: relative;   
    
      .top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 31rem;
      height: 15rem;       
    }   
  }   
}

.rulles-button {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  width: 9.375rem;
  line-height: 19px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.rulles-button:hover {
  cursor: pointer;
}

//rock icon
.parent-rock {
  @include parent-mixin($red);
  width: 198px;
  height: 203px;   
  .child-rock {
    @include child-mixin;
    background-image: url('../../images/icon-rock.svg');
    background-size:  76px 76px;
    width: 152px;
    height: 152px;
  }
}

//paper icon
.parent-paper {
  @include parent-mixin($blue);
  width: 198px;
  height: 203px;   
  .child-paper {
    @include child-mixin;
    background-image: url('../../images/icon-paper.svg');
    background-size:  76px 76px;
    width: 152px;
    height: 152px;
  }
}

//scissors icon
.test {
width: 240px;
height: 240px;
display: flex;
justify-content: center;
align-items: center;
translate: all 2s;


.parent-scissors { 
  
  @include parent-mixin($yellow);
  width: 198px;
  height: 203px;   
  .child-scissors {
    @include child-mixin;
    background-image: url('../../images/icon-scissors.svg');
    background-size:  76px 76px;
    width: 152px;
    height: 152px;
  }
}
}
.test:hover {
  border: 20px solid hsla(0, 0%, 100%, 0.05);
  border-radius: 50%;
}
}

