.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1.05rem;
  margin: auto;
  border: 3px solid #FFFFFF4A;
  margin-top: 0.5rem;
  width: 43.75rem; //=700px
  padding: 0 1rem;

  



  .logo-img {
    @media only screen and (max-width: 376px) {
      width: 120px;
      height: 80px;
    }
  }

  @media only screen and (max-width: 376px) {
    margin-top: 0.5rem;
    width: 311px;
  }
 
  
    .score-container {
      width: 9.375rem; //=150px
      height: 7.125rem; //=114px
      background: linear-gradient(0deg, #F3F3F3 0%, #FFFFFF 100%);
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;  
      margin: 1rem 0;

      @media only screen and (max-width: 376px) {
        width: 120px;
        height: 80px;
      }
   
        .score {     
          font-family: Barlow Semi Condensed;
          font-size: 1rem;
          font-style: normal;
          font-weight: 600;
          line-height: 1.2rem;
          letter-spacing: 2.5px;
          text-align: left;
          color: #2A45C2;     
          text-transform: uppercase;  

          @media only screen and (max-width: 375px) {
            font-size: 0.75rem;
          }
        }

        .value {   
          font-family: Barlow Semi Condensed;
          font-size: 4rem;
          font-style: normal;
          font-weight: 700;
          line-height: 4rem;
          letter-spacing: 0px;
          text-align: center;
          color: #565468; 

          @media only screen and (max-width: 375px) {
            font-size: 3.75rem;
          }
       }   
 }
}