.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1.05rem;
  margin: auto;
  border: 3px solid #FFFFFF4A;
  margin-top: 0.5rem;
  width: 700px; //=700px
  height: 150px;
  padding: 0 1rem;
  
  @media only screen and (max-width: 376px) {
    margin-top: 0.5rem;
    width: 311px;
    height: 96px;
  }

  .game-name {
    .logo-initial {
      width: 155.48px;
      height:92.68px;
      @media only screen and (max-width: 376px) {
        width: 83px;
        height: 48px;
    } 
  }
    .logo-bonus {
      height: 111px;
      width: 100px;
      @media only screen and (max-width: 376px) {
        height: 49px;
        width: 48px;
      } 
    }
       
  }
  
    .score-container {
      width: 150px;
      height: 114px;
      background: linear-gradient(0deg, #F3F3F3 0%, #FFFFFF 100%);
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;  
      margin: 1rem 0;

      @media only screen and (max-width: 375px) {
        width: 80px;
        height: 72px;
      }
   
        .score {     
          font-family: Barlow Semi Condensed;
          font-size: 1rem;
          font-style: normal;
          font-weight: 600;
          line-height: 1.2rem;
          letter-spacing: 2.5px;
          text-align: left;
          color: #2A45C2;     
          text-transform: uppercase;  

          @media only screen and (max-width: 375px) {
            font-size: 10px;          
            line-height: 12px;
            letter-spacing: 1.5625px;
          }
        }

        .value {   
          font-family: Barlow Semi Condensed;
          font-size: 64px;
          font-style: normal;
          font-weight: 700;
          line-height: 4rem;
          letter-spacing: 0px;
          text-align: center;
          color: #565468; 

          @media only screen and (max-width: 375px) {
            font-size: 2.75rem;
            line-height: 2.75rem;
          }
       }   
 }
}