@import "../../sass/abstracts/mixins.scss";
@import "../../sass/abstracts/variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  margin: auto;
  border: 3px solid #FFFFFF4A;
  margin-top: 8px;
  width: 700px; //=700px
  height: 150px;
  padding: 0 16px;

  @include mobile-version {
    margin-top: 8px;
    width: 311px;
    height: 96px;
  }

  .game-name {
    .logo-initial {
      width: 155.48px;
      height:92.68px;

      @include mobile-version {
        width: 83px;
        height: 48px;
      }
  }
    .logo-bonus {
      height: 111px;
      width: 100px;

      @include mobile-version {
        height: 49px;
        width: 48px;
      }
 
    }
       
  }
  
    .score-container {
      width: 150px;
      height: 114px;
      background: linear-gradient(0deg, #F3F3F3 0%, #FFFFFF 100%);
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;  
      margin: 16px 0;

      @include mobile-version {
        width: 80px;
        height: 72px;
      } 
   
        .score {     
          font-family: Barlow Semi Condensed;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 19.2px;
          letter-spacing: 2.5px;
          text-align: left;
          color: #2A45C2;     
          text-transform: uppercase;  

          @include mobile-version {
            font-size: 10px;          
            line-height: 12px;
            letter-spacing: 1.5625px;
          }      
        }

        .value {   
          font-family: Barlow Semi Condensed;
          font-size: 64px;
          font-style: normal;
          font-weight: 700;
          line-height: 64px;
          letter-spacing: 0px;
          text-align: center;
          color: #565468; 

          @include mobile-version {
            font-size: 44px;
            line-height: 44px;
          }
       }   
 }
}