@import "../../sass/abstracts/mixins.scss";
@import "../../sass/abstracts/variables.scss";



.easy-mode {  
    
  .easy-mode-container {
    width: 476px;
    height: 430px;
    margin: auto;
     @include perfect-centering;
     flex-direction: column;
     @media only screen and (max-width: 375px) {
       margin-top: 45px;   
       width: 100%;    
    }
  
         .easy-mode-body {
           @include perfect-centering;
            flex-direction: column;
            position: relative;   
            background-image: url("../../images/bg-triangle.svg");  
            background-repeat: no-repeat;
            background-position: center; 
            top: 1rem;
            
            @media only screen and (max-width: 375px) {   
              background-size: 200px 200px;  
              top: -10%; 
              height: 300px;
              width: 282px;
              margin-top: 1rem;
            }
            
            .top {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              width: 476px;
              height: 17rem;             
            
            @media only screen and (max-width: 375px) {
              width: 18rem;      
            }
          }   

          .bottom {
            .bottom-center {
              margin-top: -25px;
            }
          }
        } 

        //rock icon
        .parent-rock {
          @include icon-background($red);
          width: 198px;
          height: 203px;
            &:hover {
              cursor: pointer; 
              box-shadow: 0px 0px 0px 25px rgba(#ffffff, .07),    
            } 
          
            @media only screen and (max-width: 375px) {
              width: 130px;
              height: 133px;        
            }
          .child-rock {
            @include icon-body;
            background-image: url('../../images/icon-rock.svg');
            background-size:  76px 76px;
            width: 152px;
            height: 152px;

            @media only screen and (max-width: 375px) {
              width: 100px;
              height: 100px;     
              background-size: 50px 50px;   
            }
          }
        }

      //paper icon
      .parent-paper {
        @include icon-background($blue);
        width: 198px;
        height: 203px; 
        &:hover {
          cursor: pointer; 
          box-shadow: 0px 0px 0px 25px rgba(#ffffff, .07),    
        } 
        
        @media only screen and (max-width: 375px) {
          width: 130px;
          height: 133px;        
        }
        .child-paper {
          @include icon-body;
          background-image: url('../../images/icon-paper.svg');
          background-size:  76px 76px;
          width: 152px;
          height: 152px;

          @media only screen and (max-width: 375px) {
            width: 100px;
            height: 100px;     
            background-size: 50px 50px;   
          }
        }
      }

      //scissors icon
      .parent-scissors {   
        @include icon-background($yellow);
        width: 198px;
        height: 203px;
        &:hover {
          cursor: pointer; 
          box-shadow: 0px 0px 0px 25px rgba(#ffffff, .07),    
        } 
        
        @media only screen and (max-width: 375px) {
          width: 130px;
          height: 133px;        
        }
        .child-scissors {
          @include icon-body;
          background-image: url('../../images/icon-scissors.svg');
          background-size:  76px 76px;
          width: 152px;
          height: 152px;

          @media only screen and (max-width: 375px) {
            width: 100px;
            height: 100px;     
            background-size: 50px 50px;   
          }
        }
      }
    }
}