@import "../../sass/abstracts/mixins.scss";
@import "../../sass/abstracts/variables.scss";

.modal {
  width: 100vw;
  height: 100vh;
  background-color: #000000e1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  
  .container {
    background-color: #E1E4ED;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 8px;

    .modal-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0 20px;
      
      .text {
        font-weight: bold;
        font-size: 32px;
        line-height: 32px;
        text-transform: uppercase;       
        color: #3B4262;
      }

      .close-btn:hover {
        cursor: pointer;
      }
    }

    .rules-img {
      @include perfect-centering;
    }
  }
}