@import "../../sass/abstracts/mixins.scss";
@import "../../sass/abstracts/variables.scss";

.modal {
  width: 100vw;
  height: 100vh;
  background-color: #000000e1;
  @include perfect-centering;
  position: absolute;

  @media only screen and (max-width: 375px) {
    background-color: #fff;     
  }
  
  .container {
    background-color: #E1E4ED;
    width: 400px;
    height: 415px;
    border-radius: 8px;
    position: relative;

    .bonus {
      height: 461px;
    }
    
    @media only screen and (max-width: 375px) {
      background-color: #fff;   
      height: 70vh;   
    }

    .modal-header {
      width: 100%;
      padding: 0 20px;

      @media only screen and (max-width: 375px) {
       flex-direction: column; 
      }
      
      .text {
        font-weight: bold;
        font-size: 32px;
        line-height: 32px;
        text-transform: uppercase;       
        color: #3B4262;
        top: 20px;
        left: 20px;
        position: absolute;

        @media only screen and (max-width: 375px) {
          display: flex;
          justify-content: center;     
        }        
      }

      .close-btn {
        top: 20px;
        right: 20px;
        position: absolute;        
      }

      .close-btn:hover {
        cursor: pointer;
      }
    }

    .rules-img {    
      width: 100%;
      display: flex;
      bottom: 10px;
      position: absolute;
      justify-content: center;
  

    }
  }
}