.rulles-button {
  margin-left: 90%;
  text-transform: uppercase;
  font-family: Barlow Semi Condensed;
  font-style: normal;
  line-height: 19px;
  letter-spacing: 2.5px;
  text-align: center;
  padding: 5px 15px;
  border-radius: 5px;  
}