@import "../src/sass/abstracts/mixins.scss";


.app {
  display: grid;
  height: 100vh;
  min-width: 100vw;
  position: relative;
  border: 3px solid red;
  
    .rulles-button {
      @include button-style;
      position: absolute;  
      bottom: 5%;
      right: 5%;
      display: flex;

      @media only screen and (max-width: 375px) {
        left:0;
        right:0;  
      bottom: 2.5%;
        margin-left: auto;
        margin-right: auto;
      }      
    }
  }
