@import "../../sass/abstracts/mixins.scss";
@import "../../sass/abstracts/variables.scss";

.hard-mode {   

  .hard-mode-container {
    @include perfect-centering; 
    flex-direction: column; 

  .hard-mode-body {
    width: 472px;
    height: 463px; 
    background-image: url("../../images/bg-pentagon.svg");  
    background-repeat: no-repeat;
    background-position: center; 
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    margin-top: 2rem;

    @include mobile-version {
      width: 100%;  
      height: 305px;
      width: 311px; 
      background-size: 200px;     
    }

    .position-top {
      width: 100%;
      height: 33.33%;
      justify-content: center;
      display: flex;
      margin-bottom: -30px;
      .parent-scissors {
        @include icon-background($yellow);
        width: 145px;
        height: 148px;
        &:hover {
          cursor: pointer; 
          box-shadow: 0px 0px 0px 25px rgba(#ffffff, .07),    
        } 

        @include mobile-version {
          width: 96px;
          height: 97px;    
          margin-bottom: -25px;  
        }

      .child-scissors {
        @include icon-body;
        background-image: url('../../images/icon-scissors.svg');
        width: 112px;
        height: 111px;

        @include mobile-version {
          width: 73px;
          height: 74px;    
          background-size: 40px 40px;  
        }
      }
     }
    }    

    .position-middle {
      width: 100%;
      height: 33.33%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      
      .parent-paper {
        @include icon-background($blue-1);
        width: 145px;
        height: 148px;
        &:hover {
          cursor: pointer; 
          box-shadow: 0px 0px 0px 25px rgba(#ffffff, .07),    
        } 

        @include mobile-version {
          width: 96px;
          height: 97px;      
        }
      
       .child-paper {
        @include icon-body;
        background-image: url('../../images/icon-paper.svg');
        width: 112px;
        height: 111px;

        @include mobile-version {
          width: 73px;
          height: 74px;    
          background-size: 40px 40px;
        }
      }
    }

    .parent-spock {
      @include icon-background($green);
      width: 145px;
      height: 148px;
      &:hover {
        cursor: pointer; 
        box-shadow: 0px 0px 0px 25px rgba(#ffffff, .07),    
      } 

      @include mobile-version {
        width: 96px;
        height: 97px;      
      }
 
      .child-spock {
        @include icon-body;
        background-image: url('../../images/icon-spock.svg');
        width: 112px;
        height: 111px;

        @include mobile-version {
          width: 73px;
          height: 74px;    
          background-size: 40px 40px;    
        }
      }
    }
  }

    .position-bottom {
      width: 100%;
      height: 33.33%;
      display: flex;
      justify-content: space-around;
      padding: 0 30px;

      
     .parent-lizard {
      @include icon-background($purple);
       width: 145px;
       height: 148px;
       &:hover {
         cursor: pointer; 
         box-shadow: 0px 0px 0px 25px rgba(#ffffff, .07),    
       } 

       @include mobile-version {
         width: 96px;
         height: 97px;       
      }
       
      .child-lizard {
        @include icon-body;
        background-image: url('../../images/icon-lizard.svg');
        width: 112px;
        height: 111px;

        @include mobile-version {
          width: 73px;
          height: 74px;    
          background-size: 40px 40px;   
        }  
      }
    }

    .parent-rock {
      @include icon-background($red);
      width: 145px;
      height: 148px;
      &:hover {
        cursor: pointer; 
        box-shadow: 0px 0px 0px 25px rgba(#ffffff, .07),    
      } 

      @include mobile-version {
        width: 96px;
        height: 97px;      
      }

      .child-rock {
        @include icon-body;
        background-image: url('../../images/icon-rock.svg');
        width: 112px;
        height: 111px;

        @include mobile-version {
          width: 73px;
          height: 74px;    
          background-size: 40px 40px;   
        } 
      }
    }      
    }
   }
 }
}